h1 {
  margin: 20px 0;
  text-shadow: 2px 2px 7px #000000bf;
  color: #fff;
  font-size: 34px;
  text-align: center;
}

header nav {
  background-color: #1c70e8;
}

nav .brand-logo:hover {
  background-color: #4b4b49;;
  padding: 0 10px;
}

.tabs.tabs-transparent {
  background-color: #4ccfda;
}

.tabs .tab a:hover {
  background-color: #4b4b49;
  border: 1px solid #fff;
}
.tabs .tab a.active,
.tabs .tab a:focus,
.tabs .tab a:focus.active {
  background-color: rgba(0, 255, 106, 0.788);
  font-size: 18px;
  font-weight: bold;
}

.tabs .tab a {
  text-decoration: underline;
  color: #fff;
}
