<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SGA - Garbage Collection</title>
  </head>
  <body>
    <header class="teal lighten-3">
      <nav class="nav-extended">
        <div class="nav-wrapper">
          <a routerLink="/" class="brand-logo">SGA - Garbage Collection</a>
        </div>
        <div class="nav-content">
          <ul class="tabs tabs-transparent">
            <li class="tab"><a routerLink="materiais-descartados" routerLinkActive="active">Materiais descartados</a></li>
            <li class="tab"><a routerLinkActive="active" routerLink="descartes">Descartes</a></li>
            <li class="tab"><a routerLinkActive="active" routerLink="empresas">Empresas</a></li>
            <li class="tab"><a routerLinkActive="active" routerLink="cadastro">Cadastro</a></li>
          </ul>
        </div>
      </nav>
    </header>
    <div class="main container">
      <router-outlet></router-outlet>
    </div>
    <footer class="blue-grey lighten-3">
      <div class="container">
        © 2018 Paulo Pereira dos Anjos
      </div>
    </footer>

  </body>
</html>
