<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SGA - Garbage Collection</title>
  </head>
  <body>
    <header class="teal lighten-3">
      <div class="navbar-fixed">
        <nav>
          <div class="nav-wrapper">
            <a routerLink="/" class="brand-logo">SGA - Garbage Collection</a>
            <ul class="right">
              <li><a routerLink="/cadastro">Tela de cadastro</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </header>
    <div class="main container">
      <router-outlet></router-outlet>
    </div>
    <footer class="blue-grey lighten-3">
      <div class="container">
        © 2018 Paulo Pereira dos Anjos
      </div>
    </footer>

  </body>
</html>
