<div class="row">
  <h5>Cadastro contratos</h5>
  <form #form class="col s12">
    <div class="row">
      <div class="input-field col s6">
        <input id="data-contrato"
          type="text"
          class="validate datepicker"
          required
          name="dataContrato"
          (input)="atualizarDataContrato(dataContrato.value)"
          #dataContrato>
        <label for="data-contrato">Data do contrato</label>
      </div>
      <div class="input-field col s6">
        <input id="data-vencimento"
          type="text"
          class="validate datepicker"
          required
          name="DataVencimento"
          (input)="atualizarDataVencimento(DataVencimento.value)"
          #DataVencimento>
        <label for="data-vencimento">Data do vencimento do contrato</label>
      </div>
    </div>
    <button class="btn waves-effect waves-light"
      type="submit"
      (click)="salvar(); form.reset()"
      [disabled]="botao"
    >Salvar
      <i class="material-icons right">send</i>
    </button>
  </form>
</div>
