.tabs .tab a:focus,
.tabs .tab a:focus.active {
  background-color: rgba(34, 177, 243, 0.2);
  outline: none;
}

.tabs .tab a:hover,
.tabs .tab a.active {
  background-color: rgba(34, 177, 243, 0.2);
}

.tabs .tab a {
  color: #4da4dd;
}
