<h3 class="titulo-secao">Tela de cadastro</h3>
<div class="row">
  <div class="col">
    <a class="waves-effect waves-light btn-small" routerLink="/cadastro/empresa">Cadastrar empresas</a>
  </div>
  <div class="col">
    <a class="waves-effect waves-light btn-small" routerLink="/cadastro/material">Cadastrar materiais</a>
  </div>
</div>
<div class="row">
  <div class="col">
    <a class="waves-effect waves-light btn-small" routerLink="/cadastro/risco-biologico">Cadastrar risco biológico</a>
  </div>
  <div class="col">
    <a class="waves-effect waves-light btn-small" routerLink="/cadastro/">xxx</a>
  </div>
</div>
<router-outlet></router-outlet>
