.row {
  margin-bottom: 10px;
}

.btn-small.active {
  transform: scale(1.2);
  background: #1fd6c5;
  letter-spacing: 2px;
}

.waves-effect:hover {
  transition: all ease-in-out 300ms;
  letter-spacing: 2px;
}
